html {
    background-image: url("./Images/background2.jpg");
    /* background-repeat: no-repeat;
    background-size: 100% 100%; */
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: larger;
}

body {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3 {
    text-align: center;
}
p {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
img {
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
} 
#cara {
    display: block;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
#logo {
    padding-bottom: 50px;
}
#insta {
    padding-top: 0px;
    width: 60%;
}
#logoDiv {
    border-bottom: 5px solid black;
    margin-bottom: 20px;
}
#socialPics {
    padding-left: 10px;
    padding-right: 10px;
}
footer {
    text-align: center;
}

.btn{
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#login {
    margin-bottom: 20px;
}

#adminDiv {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#post {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}


@media only screen and (max-width: 600px){
    html {
        font-family: 'Roboto', sans-serif;
        font-family: 'Montserrat', sans-serif;
    }
    body {
        width: 100%;  
        margin: auto;
    }
    img {
        display: block;
        width: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        padding-bottom: 20px;
    }
    p {
        width: 80%;
        margin: auto;
        text-align: center;
    }
    #mobileSocial {
        margin-bottom: 0px;
    }
    #socialPics > a > img {
        width: 50px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 0px;
    }
    #insta {
        width: 250px;
    }
    #logoDiv {
        border-bottom: 5px solid black;
    }
}